<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Shull Weather</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
  <style>
    html {
      /*max-width: 70ch;*/
      padding: 3em 1em;
      margin: auto;
      line-height: 1.75;
      font-size: 1.25em;
    }
  </style>
  <h2>Home page</h2>

</body>

</html>